* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game {
    float:left;
    margin-top: 5%;
    width: 35%;
    display: flexbox;
    align-content: space-around;
}

.Description {
    width: 60%;
    float: right;
    margin-top: 5%;
    display: flexbox;
    align-items: flex-start;
}

.Comparison {
    list-style: none;
    float: none;
    margin-top: 20%;
    border-radius: 2px black;
}

ul {
    /* this gets rid of the bullet points in the list items */
    list-style: none;
    background-color: black;
    overflow: hidden;
}

ul li {
    /* this makes the items of the navbar inline rather than a column */
    display: inline;
    float: left;
}

ul li a {
    display: block;
    /* gives some space around the links */
    padding: 20px;
    /* give white color to text */
    color: white;
}

#menu {
    margin-top: 0;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    font-size: 0.9em;
    text-decoration: none;
    color: black;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1;
    display: flex;
    color: antiquewhite;

}

#menu li {
    padding: 1%;
}

#tag {
    display: inline;
    list-style: none;
}

form {
    margin: 0 auto;
    width: 60%;
}

form input {
    margin: 2%;
    width: 70%;
    padding: 10px;
}

form button {
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
}

form button:hover {
    cursor: pointer;
}